$toolbar-size: 64px;

:host {
  display: block;
  width: 100%;

  background: url("/assets/bg.png") no-repeat fixed 0 0;
  background-size: cover;
  height: 100%;
}

mat-toolbar {
  z-index: 1;

  height: $toolbar-size;

  display: flex;
  justify-content: space-between;
}

.questionary {
  display: block;
  height: calc(100% - #{$toolbar-size});
}
