<ng-container *ngIf="questionary$ | async; let questionary">

  <span *appAppBarElement class="title">{{'app.title' | translate}}</span>
  <span *appAppBarElement="'center'">{{questionary.title | translate}}</span>
  <button (click)="export()" *appAppBarElement="'more'" mat-menu-item>
    <mat-icon class="">save</mat-icon>
    {{ 'app.import_export.export_data' | translate }}
  </button>
  <button (click)="import()" *appAppBarElement="'more'" mat-menu-item>
    <mat-icon class="">folder_open</mat-icon>
    {{ 'app.import_export.import_data' | translate }}
  </button>
  <ng-container *appIfDebug>
    <button (click)="save(questionary)" *appAppBarElement="'more';" mat-menu-item title="Only debug">
      <mat-icon color="warn" svgIcon="pdf-box"></mat-icon>
      Generate PDF
    </button>
    <button (click)="storageService.clear(); restore()" *appAppBarElement="'more';" mat-menu-item title="Only debug">
      <mat-icon color="warn">cancel</mat-icon>
      Clear local data
    </button>
    <a *appAppBarElement="'more';" mat-menu-item routerLink="finished" title="Only debug">
      <mat-icon color="warn">forward</mat-icon>
      Go To End
    </a>
  </ng-container>

  <router-outlet></router-outlet>


</ng-container>
