<ng-container *ngIf="questionary$ | async; let questionary">

  <div class="container">
    <mat-card>
      <mat-card-title>Finished</mat-card-title>
      <mat-card-content>
        <p>
          You filled all the required data. Your pdf can now be generated. Please note, that you need to attach the
          following documents (Checking those items has no other effect than helping you stay organized):
        </p>
        <mat-selection-list #list>
          <mat-list-option checkboxPosition="before">Confirmation of matriculation</mat-list-option>
          <mat-list-option checkboxPosition="before">Lease contract</mat-list-option>
        </mat-selection-list>
        <p *ngIf="list.selectedOptions.selected.length === list.options?.length" class="text-success">
          You did it! Now hand it in and receive BAföG!
        </p>
        <h2 class="text-warn" style="text-align: center">Make sure to sign the copy. Otherwise your request is not
          valid!</h2>
      </mat-card-content>
      <mat-card-actions>

        <!--    <button (click)="back(questionary)" color="accent" mat-button>back</button>-->
        <button (click)="save(questionary)" color="primary" mat-button>generate pdf</button>
      </mat-card-actions>
    </mat-card>
  </div>

</ng-container>
